/* || General setup */

body {
  margin: 0;
}

html {
  font-size: 10px;
  background-color: #1a1a1a;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}



#theme-toggle {
    margin-left: -200px;
    margin-top: 25px;
    background-color: black;
    border-radius: 10px;
}


#theme-toggle:hover{
    transition-delay: 0.1s;
    background-color: white;
    color: black;
}

h3 {
font-size:xx-large;
text-align: center;
margin-top: 0px;
background-color: none;
background-size: 40%;
}

a:hover {
    text-decoration: none;
}


.dropdown {
    position: relative;
}


.filter {
  background-color: rgb(38, 38, 59);
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



.filter-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
}


.show {
    display: block
}

.filter-content a{
  color: #cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-content a:hover {
  background-color: #0e0e0e;
}

.filter-content.show {
  display: block;
}

h1,
h2 {
  font-family: "sans serrif", cursive;
  color: #d5d5d5;
  margin-top: 50px;
}
p {
    text-align: center;
    font-size: large;
}
p,
li {
  font-family: "Roboto Condensed", sans-serif;
  color: #d5d5d5;
}

h1 {
  font-size: 65px;
  text-align: center;
  margin-top: -15px;
  text-shadow: 2px 2px 10px white;
  margin-left: -40px;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

footer {
  bottom: 10px;
  left: 10px;
  margin-top: 440px;
  margin-left: -160px;
}

* {
    box-sizing: border-box;
    margin: 0;
    border-radius: 19px;
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    background-color: #000718;
}


.nav-links {
    display: flex;
    align-items: center;
    gap:10px
}


.nav-links a {
    padding: 12px 18px;
    color: white;
    background-color: rgb(38, 38, 59);
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
}

.nav-links a:hover {
    background-color: #12278ff2;
    transform: scale(1.1);
}